.footer {
    padding-top: 2rem;

    &__container {
        row-gap: 3.5rem;
    }

    &__bg {
        background: var(--first-color);
        border-radius: 10px 40px 40px 10px;
        padding: 2rem 0 2rem;
    }

    &__social {
        color: #ffffff;
        font-size: 1.25rem;
        margin-right: 1.5rem;
    }
    &__socials {
        display: flex;
        justify-content: center;
    }
    &__social:hover {
        color: var(--first-color-lighter);
    }

    &__copy {
        font-size: var(--smaller-font-size);
        text-align: center;
        color: var(--first-color-lighter);
        margin-top: 2rem;
    }
}