<section class="about section" id="about">
    <h2 class="section__title">About me</h2>
    <span class="section__subtitle">My introduction</span>
    <div class="about__container container grid">
        <img class="about__img" src="assets/img/images/I'm.png" alt="about-image">
        <div class="about__data">
            <p class="about__description">Banking graduate passionate about Front-end web development. My greatest
                strengths
                are my flexibility and ability to effectively handle multiple projects and meet deadlines.
                Proficient in modern Frontend development technologies including JavaScript, HTML, CSS.</p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">6+</span>
                    <span class="about__info-name">Months <br> experience</span>
                </div>
                <div>
                    <span class="about__info-title">3+</span>
                    <span class="about__info-name">Completed <br> project</span>
                </div>
                <div>
                    <span class="about__info-title">1+</span>
                    <span class="about__info-name">Companies <br> experience</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="assets/img/images/Nazar Boblyk CV.pdf" class="button button--flex">
                    Download CV <i class="uil uil-download-alt button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>