<section class="contacts section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in touch</span>

    <div class="contacts__container container grid">
        <div>

            <div class="contacts__information">
                <i class="uil uil-phone contacts__icon"></i>
                <div>
                    <h3 class="contacts__title">Call me</h3>
                    <span class="contacts__subtitle">+380(93)602-75-73</span>
                </div>
            </div>

            <div class="contacts__information">
                <i class="uil uil-envelope contacts__icon"></i>
                <div>
                    <h3 class="contacts__title">Email</h3>
                    <span class="contacts__subtitle">boblyk.nazar@gmail.com</span>
                </div>
            </div>

            <div class="contacts__information">
                <i class="uil uil-map-marker contacts__icon"></i>
                <div>
                    <h3 class="contacts__title">Location</h3>
                    <span class="contacts__subtitle">Ukraine - Lviv</span>
                </div>
            </div>
        </div>

        <form [formGroup]="formData" class="contacts__form grid" (ngSubmit)="onSubmit(formData.value)">
            <div class="contacts__inputs grid">
                <div class="contacts__content">
                    <label for="" class="contacts__label">Name</label>
                    <input formControlName="name" placeholder=" Your name" type="text" class="contacts__input">
                </div>
                <div class="contacts__content">
                    <label for="" class="contacts__label">Email</label>
                    <input formControlName="email" placeholder="example@email.com" type="email" class="contacts__input">
                </div>
            </div>

            <div class="contacts__content">
                <label for="" class="contacts__label">Project</label>
                <input formControlName="project" placeholder=" Your project" type="text" class="contacts__input">
            </div>
            <div class="contacts__content">
                <label for="" class="contacts__label">Message</label>
                <textarea formControlName="message" placeholder=" Your message" name="" id="" cols="0" rows="7" class="contacts__input"></textarea>
            </div>

            <div>
                <button [disabled]="!formData.valid" type="submit" class="button button--flex">
                    Send message
                    <i class="uil uil-message button__icon"></i>
                </button>
            </div>
        </form>

    </div>
</section>