<section class="section home" id="home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <a href="https://www.linkedin.com/" class="home__social-icon">
                    <i class="uil uil-linkedin-alt"></i>
                </a>
                <a href="https://www.instagram.com/" class="home__social-icon">
                    <i class="uil uil-instagram"></i>
                </a>
                <a href="https://github.com/" class="home__social-icon">
                    <i class="uil uil-github-alt"></i>
                </a>
            </div>
                <img class="home__img" src="assets/img/images/homeImg.png" alt="home-image">
            <div class="home__data">
                <h1 class="home__data">Hi, I'm Nazar</h1>
                <h3 class="home__subtitle">Frontend developer</h3>
                <p class="home__description">Front End Developer with experience working with JavaScript, HTML/CSS</p>
                <a href="#contact" class="button button--flex">
                    Contact me <i class="nav__icon uil uil-message button__icon"></i>
                </a>
            </div>
        </div>
        <div class="home__scroll">
            <a href="#about" class="home__scroll-button button--flex">
                <i class="uil uil-mouse-alt home__scroll-mouse"> </i>
                <span class="home__scroll-name">Scroll down</span>
                <i class="uil uil-arrow-down home__scroll-arrowDown"> </i>
            </a>
        </div>
    </div>
</section>
