.portfolio {
    &__container {
        overflow: initial;
    }

    &__content {
        padding: 0 1.5rem;
    }

    &__img {
        width: 265px;
        border-radius: .5rem;
        justify-self: center;
    }

    &__title {
        font-size: var(--h3-font-size);
        margin-bottom: .5rem;
    }

    &__description {
        margin-bottom: .75rem;
    }

    &__button:hover .button__icon {
        transform: translateX(.25rem);
    }
}

@media screen and (min-width: 568px){
    .portfolio__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .qualification__img {
        width: 320px;
    }
    .portfolio__content {
        align-items: center;
    }
}

@media screen and (min-width: 1024px){
    .portfolio__content {
        column-gap: 5rem;
    }
    .swiper-button-prev {
        left: -3.5rem;
    }
    .swiper-button-next {
        right: -3.5rem;
    }
}

/* Swiper*/

.swiper-button-prev, .swiper-button-next {
    color: var(--first-color);
    top: 25%;
}

.swiper-button-next {
    right: -.05rem;
}
.swiper-button-prev {
    left: -.05rem;
}